@import "../../sass/variables";

.task-list{
    
    display: grid;
    grid-template-columns: 70% 15% 15%;
    background-color: $Color-text;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 9px;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.5);


    align-items: center;



}

.icon{
transform: scale(1.7);
margin:0;

justify-self: end;
transition: all 0.4s ease-in;
cursor: pointer;
color:$color-btn-show;
&:hover{
transform: scale(2);
}
}
.iconEdit{
transform: scale(1.7);
margin:0;

justify-self: end;
transition: all 0.4s ease-in;
cursor: pointer;
color:$color-bg-coral;
&:hover{
transform: scale(2);
}
}
.task{
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
    gap:0.8rem;
    h3{
        margin: 0;
    }
    p{
        margin:0;
    }

  
  
}
.taskDone{
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-decoration: line-through;
    gap:0.8rem;
    h3{
        margin: 0;
    }
    p{
        margin:0;
    }

  
  
}
.bar{
    position:absolute;
    top:-1rem;

    left: -1rem;
    height:8rem;
    width: 1rem;
    background-color: $color-btn-save;
    border-radius: 9px 0 0px 9px;

}