@import "../../sass/variables";

.card{
    display: flex;
    flex-direction: column;
    padding:4rem;
    background-color: $color-bg;
    width: 40%;
    border-radius: 9px;
    margin:0 6rem;
    box-shadow: 4px 3px 5px 6px rgba(0,0,0,0.5);


    
   
}

@media screen and  (max-width:760px) {
    .card{
     
     width: 100%;
     padding: 1rem;
     margin: 1rem;
    }
 }
 @media screen and  (min-width:760px )  and(max-width:970px) {
    .card{
     
     width: 80%;
     padding: 1rem;
     margin: 1rem;
    }
 }