@import "../../sass/variables";

.task-list{
    
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: $Color-text;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 9px;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.5);


    align-items: center;



}

.icon{
transform: scale(1.7);
margin:0;

justify-self: end;
transition: all 0.4s ease-in;
cursor: pointer;
color:$color-btn-show;
&:hover{
transform: scale(2);
}
}
.task{
    display:flex;
    flex-direction: column;
    gap:0.8rem;
    h3{
        margin: 0;
    }
    p{
        margin:0;
    }
  
}